.Presentation h1 {
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.experience, .Comp {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 10%;
}

.formation h2, .profes h2, .Vie_Asso h2, .Competience h2{
    text-align: center;
    color: crimson;
    font-size: 120%;
}