body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.Bendeau{
    background-color: plum;
    text-align: center;
}

.user-input {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 20%;
}

.element {
    background: lightblue;
    padding: 20px;
}

#Name {
    width: 300px;
}

.btn-start {
    width: 300px;
}